/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #222421;
$color-grey: #979797;
$color-light-1: #606060;
$color-light-2: #b3b3b3;
$color-light-3: #e3e3e3;
$color-light-4: #f9f9f9;
$color-red: #c32d33;

/* BREAK POINTS */
$bp-min: 320px;
$bp-phone: 480px;
$bp-phablet: 580px;
$bp-tablet: 768px;
$bp-max: 1000px;
