/* COLORS */
$color-light-1: #606060;
$color-light-2: #b3b3b3;
$color-light-3: blue;
$color-light-4: #f9f9f9;
$color-red: #c32d33;

/* BREAK POINTS */
$bp-min: 320px;
$bp-phone: 480px;
$bp-phablet: 580px;
$bp-tablet: 768px;
$bp-max: 1000px;
