.player {
    position:static;
	z-index:10;
	width:100%;
	height:50px;
    background:$color-dark;
    text-align:left;
    color:#FFF;

    a {
        color:#FFF;
        text-decoration:none;
    }

    &__wrapper {
        width:100%;
        height:inherit;
        display:table;
    }

    &__controls,
    &__button {
        display:table-cell;
        vertical-align:middle;
    }

    &__controls {
        .progressbar {
            width:80%;
            margin-left:1%;
            @media (min-width:$bp-phone) {
                width:70%;
            }
            @media (min-width:$bp-tablet) {
                width:75%;
            }
        }
    }

    &__control {
        display:inline-block;
        vertical-align:middle;
        font-size:22px;
        margin-left:2%;
        transition:color 0.1s;

        &:hover {
            color:$color-red;
        }

        &--load {
            animation:rotate360 1s infinite linear;

            &:hover {
                color:#FFF;
                cursor:default;
            }
        }

        &--pause {
            animation:blink 2s infinite linear;
        }

        .player:not(.is-loading) &--load {
            display:none;
        }

        .player.is-loading &--play,
        .player.is-playing &--play {
            display:none;
        }

        .player:not(.is-playing) &--pause {
            display:none;
        }
    }

    &__button {
        width:25%;
        display:none;
        text-align:right;

        .button {
            background:$color-dark;
            border-color:#FFF;
            line-height:30px;
            font-size:13px;
            margin-left:1%;

            &:hover {
                background:#FFF;
                color:$color-dark;
            }
        }

        @media (min-width:$bp-phone) {
            display:table-cell;
        }
    }

    &:after {
        content:' ';
        position:absolute;
        right:1%;
        top:16px;
        display:none;
        width:110px;
        height:15px;
        @media (min-width:$bp-phone) {
            display:block;
        }
        background:url("../img/logo.png") no-repeat left;
        background-size:contain;
        filter:grayscale(100%);
    }

    #player {
        position:absolute;
    }
    
}